@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables.css';

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: var(--body-bg);
  }
}

html[lang='ar'] * {
  font-family: var(--ar-font-family), sans-serif !important;
}

html[lang='en'] * {
  font-family: var(--en-font-family), sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-colors-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--p-shades-shade-90);
}

html {
  scroll-behavior: smooth;
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-once {
  animation: spin-once 0.2s linear forwards;
}
