:root {
  /* Main Colors */
  --main-colors-primary: #F18A1D;
  --main-colors-secondary: #d37715;
  --main-colors-black: #141415;
  --main-colors-black-secondary: #16161B;
  --main-colors-white: #ffffff;
  --main-colors-text: #242424;
  --main-colors-text-secondary: #6E717E;
}
